<header class="header">
  <nav class="navbar navbar-expand-md">
    <span>
      <h2 class="h3">Tweet App</h2>
    </span>

    <ul class="navbar-nav" style="color: white;">
      <li><a  routerLink="/register">RegisterUser</a></li>
      <li><a  routerLink="/login">LoginUser</a></li>
      <li><a  routerLink="/forgotPassword">ForgotPassword</a></li>
      <li><a  routerLink="/postTweet">PostTweet</a></li>
      <li><a  routerLink="/allUsers">AllUsers</a></li>
      <li><a  routerLink="/allTweet">AllTweets</a></li>
      <li><a  routerLink="/searchByUsername">SearchUser</a></li>
      <li><a  routerLink="/searchTweetByUsername">SearchUserTweets</a></li>
      <li><a  routerLink="/updateTweet">UpdateTweet</a></li>
      <li><a  routerLink="/deleteTweet">DeleteTweet</a></li>
      <li><a  routerLink="/replyTweet">ReplyTweet</a></li>
      <li><a  routerLink="/likeTweet">LikeTweet</a></li>
      <li><a  routerLink="/logout" (click)="logoutNow() ; logout()">Logout</a>
    </ul>
    
  </nav>
</header>
