<h3>All Tweets Details</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Tweet</th>
                <th scope="col">Tag</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of tweets">
                <th scope="row">#</th>
                <td>{{user.id}}</td>
                <td>{{user.text}}</td>
                <td>{{user.tag}}</td>
            </tr>

        </tbody>
    </table>
</div>